.main {
    text-align: center;
}

.achievements {
    margin: 20px 0 70px;
    background: $third;
}

.portfolio_item {
    position: relative;
    margin: 10px;
    overflow: hidden;
    border-radius: 4px;

    img {
        width: 90%;
        height: auto;

    }

    .portfolio_item_caption {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.3s;
    }

    &:hover .portfolio_item_caption {
        opacity: 1;
    }
}