// imports fonts

// @font-face {
//     font-family: "Roboto";
//     src: url("akzaatzPortfolio/font/Roboto/Roboto-Regular.ttf") format("truetype");
// }

// @font-face {
//     font-family: "F25_Bank_Printer";
//     src: url("#{$VITE_BASE_URL}font/f25_bank_printer/F25_Bank_Printer.ttf") format("truetype");
// }

// @font-face {
//     font-family: "F25_Bank_Printer_Bold";
//     src: url("akzaatzPortfolio/font/f25_bank_printer/F25_Bank_Printer_Bold.ttf") format("truetype");
// }

// @font-face {
//     font-family: "Fabada-regular";
//     src: url("akzaatzPortfolio/font/fabada/Fabada-regular.ttf") format("truetype");
// }
// @font-face {
//     font-family: "hemi head bd it";
//     src: url("#{$VITE_BASE_URL}font/hemi_head/hemi head bd it.otf") format("opentype");
// }
// @font-face {
//     font-family: "hieronimus";
//     src: url("akzaatzPortfolio/font/hieronimus/hieronimus.otf") format("opentype");
// }
// @font-face {
//     font-family: "Roboto";
//     src: url("../../public/font/Roboto/Roboto-Regular.ttf") format("truetype");
// }

// @font-face {
//     font-family: "hemi head bd it";
//     src: url("akzaatzPortfolio/font/hemi_head/hemi head bd it.otf") format("opentype");
// }
@import "src/utils/_variables.scss";

@font-face {
    font-family: "Roboto";
    src: url("#{$VITE_BASE_URL}font/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "hemi head bd it";
    src: url("#{$VITE_BASE_URL}font/hemi_head/hemi head bd it.otf") format("opentype");
}

// Variables :

// ========FONTS==========
// $font1: "Roboto", sans-serif;
$font1: "Roboto", sans-serif;
// $font3: "F25_Bank_Printer_Bold", sans-serif;
// $font4: "Fabada-regular", sans-serif;
// $font5: "conthrax", sans-serif;
$font2: "hemi_head_bd_it", sans-serif;
// $font7: "hieronimus", sans-serif;



*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: $white;

    // *::selection {
    //     background: $third;

    // }
}

li {
    list-style: none;
}

body {
    margin: 0 auto;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-family: $font2;
    font-size: 1rem;
    background: $third;
    // box-shadow: 0px 2px 10px rgba(59, 59, 59, 0.25);

    img {
        object-fit: cover;
    }

    h2 {
        margin-top: 30px;
        font-size: 2.5rem;
        margin-bottom: 15px;
    }

    .divider-custom {
        margin: 1.25rem 0 1.5rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .divider-custom .divider-custom-line {
        width: 100%;
        max-width: 9rem;
        height: 0.35rem;
        background-color: #fff;
        border-radius: 1rem;
        border-color: #fff !important;
    }

    .divider_custom_icon {
        font-size: 1.9rem;
        padding: 0 20px;
    }
}