@use "variables" as *;

@font-face {
    font-family: "hieronimus";
    src: url("/font/hieronimus/hieronimus.otf") format("opentype");
}

@font-face {
    font-family: "Roboto";
    src: url("/font/Roboto/Roboto-Regular.ttf") format("opentype");
}

@font-face {
    font-family: "F25_Bank_Printer";
    src: url("/font/f25_bank_printer/F25_Bank_Printer.ttf") format("truetype");
}

@font-face {
    font-family: "hemi head bd it";
    src: url("/font/hieronimus/hieronimus.otf") format("opentype");
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: $white;
}

li {
    list-style: none;
}

body {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: $font2;
    font-size: 1rem;
    background: $third;

    img {
        object-fit: cover;
    }

    h2 {
        margin-top: 30px;
        font-size: 2.5rem;
        margin-bottom: 15px;
    }

    .divider-custom {
        margin: 1.25rem 0 1.5rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .divider-custom .divider-custom-line {
        width: 100%;
        max-width: 9rem;
        height: 0.35rem;
        background-color: #fff;
        border-radius: 1rem;
        border-color: #fff !important;
    }

    .divider_custom_icon {
        font-size: 1.9rem;
        padding: 0 20px;
    }
}