.bubble_zone {
    position: relative;
    width: 100%;
    height: 200px;

    .bubble {
        position: absolute;
        cursor: crosshair;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $fourth
    }

    .static_zone {
        position: relative;
    }

    .icon_contact {
        font-size: 3rem;
    }


}