@use "../../utils/variables" as v;

.bubble {
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;


    .static_zone {
        position: relative;
    }

    .icon_contact {
        font-size: 3rem;
    }
}