.static_bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;
    width: 100%;

    @media screen and (max-width: 1024px) {
        flex-direction: column;
        width: auto;
        padding: 10px;
    }

    .bubble {
        position: relative;
        width: 70px;
        height: 70px;
        background: $second;
        border-radius: 50%;
        position: relative;

        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 2.5rem;
        }
    }

    #css {
        font-size: 2.5rem;
        width: 60px;
        height: 60px;
    }

    #sass {
        font-size: 2.5rem;
        width: 60px;
        height: 60px;
    }

    #js {
        font-size: 2.5rem;
        width: 60px;
        height: 60px;
    }
}